[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "==2.0.3"
matplotlib = "*"
pylint = "==3.0.4"
black = "==24.2.0"
input = "*"
pytest = "==7.4.4"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
